Django
djangorestframework
django-environ
Pillow
flake8
black
isort
psycopg2-binary
django-filter
django-autoslug
djoser
djangorestframework-simplejwt
PyJWT
django-localflavor
redis
celery==4.4.7
django-celery-email
flower==0.9.7
argh
PyYAML
watchdog